#lang_selector{
	position: absolute;
	right: 18%;
    float: right;
    margin: -4.3% 0 0 0;
  	cursor: pointer;
  	z-index: 1998;
}

.language-dropdown {
	margin: 20px 50px;
}

.language-dropdown .flag::after {
	line-height: 30px;
	margin: 47px;
	color: yellow;
	font-size: 22px;
	z-index: 100;
	white-space: nowrap;
}

.language-dropdown .lang-en .flag {
	background-image: url("flag/angl.ico");
}
.language-dropdown .lang-en .flag::after {
	content: "English";
}

.language-dropdown .lang-ch .flag {
	background-image: url("flag/chin.ico");
}
.language-dropdown .lang-ch .flag::after {
	content: "中國";
}

.language-dropdown .lang-fr .flag {
	background-image: url("flag/franc.ico");
}
.language-dropdown .lang-fr .flag::after {
	content: "Français";
}

.language-dropdown .lang-ge .flag {
	background-image: url("flag/germ.ico");
}
.language-dropdown .lang-ge .flag::after {
	content: "Deutsch";
}

.language-dropdown .lang-jp .flag {
	background-image: url("flag/japan.ico");
}
.language-dropdown .lang-jp .flag::after {
	content: "日本語";
}

.language-dropdown .lang-po .flag {
	background-image: url("flag/port.ico");
}
.language-dropdown .lang-po .flag::after {
	content: "Português";
}

.language-dropdown .lang-ru .flag {
	background-image: url("flag/russ.ico");
}
.language-dropdown .lang-ru .flag::after {
	content: "Русский";
}

.language-dropdown .lang-sa .flag {
	background-image: url("flag/sa.ico");
}
.language-dropdown .lang-sa .flag::after {
	content: "العربية";
}

.language-dropdown .lang-sp .flag {
	background-image: url("flag/spain.ico");
}
.language-dropdown .lang-sp .flag::after {
	content: "Español";
}

.language-dropdown .lang-tu .flag {
	background-image: url("flag/turk.ico");
}
.language-dropdown .lang-tu .flag::after {
	content: "Türk";
}

.language-dropdown .lang-cz .flag {
	background-image: url("flag/czech.ico");
}
.language-dropdown .lang-cz .flag::after {
	content: "Česky";
}

.language-dropdown .lang-in .flag {
	background-image: url("flag/ind.ico");
}
.language-dropdown .lang-in .flag::after {
	content: "हिन्दी";
}

.language-dropdown .lang-ind .flag {
	background-image: url("flag/indonesia.ico");
}
.language-dropdown .lang-ind .flag::after {
	content: "Jawa";
}

.language-dropdown .lang-is .flag {
	background-image: url("flag/isr.ico");
}
.language-dropdown .lang-is .flag::after {
	content: "עברית";
}

.language-dropdown .lang-it .flag {
	background-image: url("flag/ital.ico");
}
.language-dropdown .lang-it .flag::after {
	content: "Italiano";
}

.language-dropdown .lang-ko .flag {
	background-image: url("flag/korea.ico");
}
.language-dropdown .lang-ko .flag::after {
	content: "한국어";
}

.language-dropdown .lang-pol .flag {
	background-image: url("flag/poland.ico");
}
.language-dropdown .lang-pol .flag::after {
	content: "Polski";
}

.language-dropdown .lang-se .flag {
	background-image: url("flag/serb.ico");
}
.language-dropdown .lang-se .flag::after {
	content: "Српски";
}

.language-dropdown .lang-th .flag {
	background-image: url("flag/thai.ico");
}
.language-dropdown .lang-th .flag::after {
	content: "ไทย";
}

.language-dropdown label, .language-dropdown ul li {
	display: block;
	width: 50px;
	height: 35px;
	cursor: pointer;
}

.language-dropdown ul.lang-list {
	position: relative;
	visibility: hidden;
	opacity: 0;
	z-index: 1001;
}

/*.language-dropdown ul.lang-list li {
	border-bottom: 1px solid #ECECEC;
}
*/
.language-dropdown ul.lang-list li:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.language-dropdown ul.lang-list li.selected {
	display: none;
}

.language-dropdown label {
	position: relative;
	/*border-bottom: 1px solid #ECECEC;*/
	border-radius: 3px;
	z-index: 1002;
}

.language-dropdown .lang-flag .flag, .language-dropdown .lang-list .lang .flag {
	float: left;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-size: 35px 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.language-dropdown.open ul.lang-list {
	visibility: visible;
	opacity: 1;
}

.language-dropdown.open label {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.animate, .lang-flag, .lang-list {
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.lang-list{
	padding: 0;
	margin: 0;
}