#main {
	position:relative;
	margin: 3% auto;
	/*padding: 5px;*/
	width: 86%;
	height:69%;
	background-color: silver;
	border: 5px solid grey;
	border-radius:15px;
}
#scr {
	margin:10px auto;
	width: 95%;
	height: 670px;
	/*margin-top: 10px;*/
	background-color: white;
	background-size:cover;
	border: 2px solid black;
	border-radius:10px;
}

button {
	position: absolute;
	top: 40%;
	font: 12pt arial,tahoma,sans-serif;
/*	text-align: center;*/
	cursor: pointer;
	z-index: 1;
  background: #d934c0;
  background-image: -webkit-linear-gradient(top, #d934c0, #00ff51);
  background-image: -moz-linear-gradient(top, #d934c0, #00ff51);
  background-image: -ms-linear-gradient(top, #d934c0, #00ff51);
  background-image: -o-linear-gradient(top, #d934c0, #00ff51);
  background-image: linear-gradient(to bottom, #d934c0, #00ff51);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  text-shadow: 2px -2px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

button:hover {
  background: #27d681;
  background-image: -webkit-linear-gradient(top, #27d681, #3498db);
  background-image: -moz-linear-gradient(top, #27d681, #3498db);
  background-image: -ms-linear-gradient(top, #27d681, #3498db);
  background-image: -o-linear-gradient(top, #27d681, #3498db);
  background-image: linear-gradient(to bottom, #27d681, #3498db);
  text-decoration: none;
}

.left {
	left:5px;
}

.right {
	right:5px;
}
